.Title {
  position: absolute;
  width: 630px;
  height: 64px;
  left: 170px;
  top: 49px;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;

  color: #074684;
}

.searchInput input {
  margin-top: 8rem;
  margin-left: 10.5rem;
  display: flex;

  background-color: #FFFFFF;
  border: 2px solid #074684;
  box-sizing: border-box;
  border-radius: 10px;

  height: 72px;
  width: 750px;

  font-size: 1.5rem;
  padding-left: 3.5rem;
}

.searchIcon {
  position: absolute;
  top: 8.5rem;
  left: 11rem;
  height: 60px;
  width: 50px;
  display: grid;
  place-items: center;
}

.searchIcon svg {
  font-size: 2rem;
}